@import "vendor/fonts";
@import "vendor/variables";
@import "vendor/mixins";
@import "vendor/_normalize";
@import "vendor/header";

body {
  font-family: $font-family, sans-serif;
  min-inline-size: 285px;
  margin: 0 auto;
  letter-spacing: 0;
  font-size: $font-size;
  font-weight: 400;
  background-color: $bg-white;
  color: $color-black;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    @media screen and (width<=500px) {
      width: 4px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $bg-grey;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $color-accent;
  }
}

html {
  scroll-behavior: smooth;
}

html.burger-lock {
  overflow-y: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-inline-end: 20px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline-end: 18px;
    border-right: 1px solid $color-light-grey;

    span {
      &:first-child {
        font-size: $font-size-h4;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
      }

      &:last-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        color: $color-dark-grey;
      }
    }
  }

  &.footer__logo &__title {
    border: none;
    span {
      color: $color-white;
    }
  }
}

.hide {
  display: none !important;
}

.hide-item__height,
.hide-item__height--2 {
  transition: height 0.3s linear;
  overflow: hidden;

  @media (width>700px) {
    &:not(.menu__subnav) {
      height: 0;
    }
  }

  @media (width<=700px) {
    height: 0;
  }
}

@media screen and (width<=1200px) {
  .desktop {
    display: none;
  }
}

@import "vendor/animate";
@import "vendor/footer";
