@import "vendor/fonts";
@import "vendor/variables";
@import "vendor/mixins";
@import "vendor/_normalize";
@import "vendor/header";

body {
  font-family: $font-family, sans-serif;
  min-inline-size: 285px;
  margin: 0 auto;
  letter-spacing: 0;
  font-size: $font-size;
  font-weight: 400;
  background-color: $bg-white;
  color: $color-black;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    @media screen and (width<=500px) {
      width: 4px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: $bg-grey;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $color-accent;
  }
}

html {
  scroll-behavior: smooth;
}

html.burger-lock {
  overflow-y: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-inline-end: 20px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline-end: 18px;
    border-right: 1px solid $color-light-grey;

    span {
      &:first-child {
        font-size: $font-size-h4;
        line-height: 1;
        font-weight: 600;
        color: $color-black;
      }

      &:last-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
        color: $color-dark-grey;
      }
    }
  }

  &__picture {
    flex-shrink: 0;
  }

  &.footer__logo &__title {
    border: none;
    span {
      color: $color-white;
    }
  }
}

.hide {
  display: none !important;
}

form.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  @media screen and (width<=800px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .input {
    background-color: $color-white;
    border-radius: 12px;
    border: 1px solid $color-accent-op-50;
    padding: 20px;
    color: inherit;
    font-size: clamp(0.875rem, 0.7rem + 0.4vw, 1rem); //16 -> 14
    transition: outline 300ms;
    outline: 1px solid transparent;

    &::placeholder {
      color: $color-dark-grey;
    }

    &:hover,
    &:focus {
      outline: 1px solid $color-accent;
    }
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: clamp(0.75rem, 0.5357rem + 0.5714vw, 1rem);
  color: $color-dark-grey;
  position: relative;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 20px;
    border: 1px solid $color-accent-op-50;
    background-color: $color-white;
    aspect-ratio: 1/1;
    border-radius: 4px;
    position: relative;
    transition: 300ms;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 8px;
      background: url(../img/icons/check.svg) no-repeat center center;
      background-size: cover;
      opacity: 0;
      transition: opacity 300ms;
    }
  }

  input[type="checkbox"]:checked ~ .checkbox-mark {
    background-color: $color-accent;
    border: 1px solid transparent;

    &::before {
      opacity: 1;
    }
  }

  a {
    color: $color-accent;
  }
}

.input__radio {
  position: relative;
  display: flex;
  align-items: center;
  font-size: clamp(0.875rem, 0.7rem + 0.4vw, 1rem); //16 -> 14

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    transition: scale 300ms;

    + label {
      display: flex;
      align-items: center;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid $color-accent;
        border-radius: 50%;
        background-color: $color-white;
        margin-right: 12px;
        transition: all 0.2s ease;
        flex-shrink: 0;
      }
    }

    // Состояние checked
    &:checked + label {
      &::after {
        content: "";
        position: absolute;
        display: block;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color-accent;
        border-radius: 50%;
      }
    }

    // Состояния при фокусе
    &:focus + label::before {
      box-shadow: 0 0 0 2px rgba($color-accent, 0.2);
    }

    // Состояния при наведении
    &:hover + label::before {
      border-color: darken($color-accent, 10%);
      scale: 1.2;
    }
  }
}

.main-title {
  font-size: $font-size-h1;
  line-height: 1.15;
  font-weight: 600;
  color: inherit;

  span {
    color: $color-accent;
  }
}

.section-title {
  font-size: $font-size-h2;
  line-height: 1.15;
  font-weight: 600;

  span {
    color: $color-accent;
  }
}

.breadcrumbs {
  margin-block-end: clamp(2.5rem, 0.125rem + 5.7143vw, 5rem);

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    line-height: 1.1;
    font-size: 14px;

    @media (width<=500px) {
      // flex-direction: column;
    }
  }

  &__item {
    position: relative;
    color: rgb(31, 31, 31, .5);

    &:not(:first-of-type)::before {
      content: '/';
      color: $color-black;
      position: absolute;
      left: -16px;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      color: $color-black;
    }
  }
}

@media screen and (width<=1200px) {
  .desktop {
    display: none;
  }
}

@import "vendor/intro";
@import "vendor/price";
@import "vendor/mini-test";
@import "vendor/allocator";
@import "vendor/text-section";
@import "vendor/form";
@import "vendor/how-going";
@import "vendor/how-help";

@import "vendor/animate";
@import "vendor/footer";
@import "vendor/popups";
