<section class="articles">
  <div class="articles__body container">
    <div class="breadcrumbs">
      <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="/">Главная</a></li>
        <li class="breadcrumbs__item">Блог</li>
      </ul>
    </div>
    <h1 class="articles__title main-title">Статьи нашей клиники</h1>
    <div class="articles__content">
      <div class="articles__tabs">
        <button class="articles__tab">
          <span>Все</span>
        </button>
        <button class="articles__tab">
          <span>О наркомании</span>
        </button>
        <button class="articles__tab">
          <span>Об алкоголизме</span>
        </button>
        <button class="articles__tab">
          <span>О курении</span>
        </button>
        <button class="articles__tab">
          <span>Об игромании</span>
        </button>
        <button class="articles__tab">
          <span>Психиатрия</span>
        </button>
        <button class="articles__tab">
          <span>Другое</span>
        </button>
      </div>
      <div class="articles__tabs-content ">
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
                <div class="articles__tab-content__item-info">
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M18.33 1.54h-2.5V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 15 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77H5.83V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 5 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77h-2.5c-.45 0-.87.16-1.18.45A1.5 1.5 0 0 0 0 3.08v15.38c0 .41.18.8.49 1.09.31.29.73.45 1.18.45h16.66c.45 0 .87-.16 1.18-.45.31-.29.49-.68.49-1.09V3.08c0-.41-.18-.8-.49-1.1a1.74 1.74 0 0 0-1.18-.44Zm0 4.61H1.67V3.08h2.5v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h8.34v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h2.5v3.07Z" />
                    </svg>
                    <div><span>Опубликовано:</span><span>27.10.2025</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
                      <path fill="#D9A28C"
                        d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
                    </svg>
                    <div><span>Просмотров:</span><span>283</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm5.4 10.8H10a.8.8 0 0 1-.8-.8V4.6a.8.8 0 0 1 1.6 0v4.6h4.6a.8.8 0 1 1 0 1.6Z" />
                    </svg>
                    <div><span>Чтение:</span><span>283</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
                <div class="articles__tab-content__item-info">
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M18.33 1.54h-2.5V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 15 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77H5.83V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 5 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77h-2.5c-.45 0-.87.16-1.18.45A1.5 1.5 0 0 0 0 3.08v15.38c0 .41.18.8.49 1.09.31.29.73.45 1.18.45h16.66c.45 0 .87-.16 1.18-.45.31-.29.49-.68.49-1.09V3.08c0-.41-.18-.8-.49-1.1a1.74 1.74 0 0 0-1.18-.44Zm0 4.61H1.67V3.08h2.5v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h8.34v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h2.5v3.07Z" />
                    </svg>
                    <div><span>Опубликовано:</span><span>27.10.2025</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
                      <path fill="#D9A28C"
                        d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
                    </svg>
                    <div><span>Просмотров:</span><span>283</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm5.4 10.8H10a.8.8 0 0 1-.8-.8V4.6a.8.8 0 0 1 1.6 0v4.6h4.6a.8.8 0 1 1 0 1.6Z" />
                    </svg>
                    <div><span>Чтение:</span><span>283</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
                <div class="articles__tab-content__item-info">
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M18.33 1.54h-2.5V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 15 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77H5.83V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 5 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77h-2.5c-.45 0-.87.16-1.18.45A1.5 1.5 0 0 0 0 3.08v15.38c0 .41.18.8.49 1.09.31.29.73.45 1.18.45h16.66c.45 0 .87-.16 1.18-.45.31-.29.49-.68.49-1.09V3.08c0-.41-.18-.8-.49-1.1a1.74 1.74 0 0 0-1.18-.44Zm0 4.61H1.67V3.08h2.5v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h8.34v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h2.5v3.07Z" />
                    </svg>
                    <div><span>Опубликовано:</span><span>27.10.2025</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
                      <path fill="#D9A28C"
                        d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
                    </svg>
                    <div><span>Просмотров:</span><span>283</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm5.4 10.8H10a.8.8 0 0 1-.8-.8V4.6a.8.8 0 0 1 1.6 0v4.6h4.6a.8.8 0 1 1 0 1.6Z" />
                    </svg>
                    <div><span>Чтение:</span><span>283</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
                <div class="articles__tab-content__item-info">
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M18.33 1.54h-2.5V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 15 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77H5.83V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 5 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77h-2.5c-.45 0-.87.16-1.18.45A1.5 1.5 0 0 0 0 3.08v15.38c0 .41.18.8.49 1.09.31.29.73.45 1.18.45h16.66c.45 0 .87-.16 1.18-.45.31-.29.49-.68.49-1.09V3.08c0-.41-.18-.8-.49-1.1a1.74 1.74 0 0 0-1.18-.44Zm0 4.61H1.67V3.08h2.5v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h8.34v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h2.5v3.07Z" />
                    </svg>
                    <div><span>Опубликовано:</span><span>27.10.2025</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
                      <path fill="#D9A28C"
                        d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
                    </svg>
                    <div><span>Просмотров:</span><span>283</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm5.4 10.8H10a.8.8 0 0 1-.8-.8V4.6a.8.8 0 0 1 1.6 0v4.6h4.6a.8.8 0 1 1 0 1.6Z" />
                    </svg>
                    <div><span>Чтение:</span><span>283</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
                <div class="articles__tab-content__item-info">
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M18.33 1.54h-2.5V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 15 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77H5.83V.77c0-.2-.08-.4-.24-.54A.87.87 0 0 0 5 0a.87.87 0 0 0-.59.23.74.74 0 0 0-.24.54v.77h-2.5c-.45 0-.87.16-1.18.45A1.5 1.5 0 0 0 0 3.08v15.38c0 .41.18.8.49 1.09.31.29.73.45 1.18.45h16.66c.45 0 .87-.16 1.18-.45.31-.29.49-.68.49-1.09V3.08c0-.41-.18-.8-.49-1.1a1.74 1.74 0 0 0-1.18-.44Zm0 4.61H1.67V3.08h2.5v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h8.34v.77c0 .2.08.4.24.54a.87.87 0 0 0 1.18 0 .74.74 0 0 0 .24-.54v-.77h2.5v3.07Z" />
                    </svg>
                    <div><span>Опубликовано:</span><span>27.10.2025</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
                      <path fill="#D9A28C"
                        d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
                    </svg>
                    <div><span>Просмотров:</span><span>283</span></div>
                  </div>
                  <div class="box_accent-light">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                      <path fill="#D9A28C"
                        d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20Zm5.4 10.8H10a.8.8 0 0 1-.8-.8V4.6a.8.8 0 0 1 1.6 0v4.6h4.6a.8.8 0 1 1 0 1.6Z" />
                    </svg>
                    <div><span>Чтение:</span><span>283</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <div class="articles__tab-content pag-list">
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>
          <div class="articles__tab-content__item">
            <a href="" class="articles__tab-content__item-link">
              <picture>
                <source srcset="/assets/img/photo/img1.webp" type="image/webp">
                <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                  src="/assets/img/photo/img1.jpg">
              </picture>
              <span>Подробнее</span>
              <div class="articles__tab-content__item-inner box_light">
                <p class="articles__tab-content__item-name">Влияние наркомании на здоровье человека</p>
              </div>
            </a>
          </div>

        </div>
        <button class="button button_accent articles__tab-content__button btn_more active">Смотреть еще</button>
      </div>
    </div>
  </div>
</section>
