<div class="articles-sl slider-hl-3">
  <div class="articles-sl__body container">
    <div class="articles-sl__left">
      <div>
        <p class="articles-sl__title section-title">Статьи
          клиники</p>
        <a class="button button_accent articles-sl__link">Все статьи</a>
      </div>
      <div class="articles-sl__toolbar">
        <div>
          <p class="articles-sl__count slider-hl-3__count"></p>
          <div class="articles-sl__buttons">
            <button type="button"
              class="articles-sl__button point-mark point-mark_light point-mark_arrow point-mark_56 swiper-button-prev"
              disabled=""></button>
            <button type="button"
              class="articles-sl__button point-mark point-mark_light point-mark_arrow point-mark_arrow_right point-mark_56 swiper-button-next"
              disabled=""></button>
          </div>
        </div>
      </div>
    </div>
    <div class="articles-sl__right slider-hl-3__swiper">
      <div class="swiper-wrapper articles-sl__content">
        <div class="articles-sl__item swiper-slide">
          <a href="" class="articles-sl__item-link">
            <picture>
              <source srcset="/assets/img/photo/img1.webp" type="image/webp">
              <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                src="/assets/img/photo/img1.jpg">
            </picture>
            <span>Подробнее</span>
            <div class="articles-sl__item-inner box_light">
              <p class="articles-sl__item-name">Бесплатная консультация врача по телефону</p>
              <p class="articles-sl__item-caption">23 октября 2025</p>
            </div>
          </a>
        </div>
        <div class="articles-sl__item swiper-slide">
          <a href="" class="articles-sl__item-link">
            <picture>
              <source srcset="/assets/img/photo/img1.webp" type="image/webp">
              <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                src="/assets/img/photo/img1.jpg">
            </picture>
            <span>Подробнее</span>
            <div class="articles-sl__item-inner box_light">
              <p class="articles-sl__item-name">Бесплатная консультация врача по телефону</p>
              <p class="articles-sl__item-caption">23 октября 2025</p>
            </div>
          </a>
        </div>
        <div class="articles-sl__item swiper-slide">
          <a href="" class="articles-sl__item-link">
            <picture>
              <source srcset="/assets/img/photo/img1.webp" type="image/webp">
              <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                src="/assets/img/photo/img1.jpg">
            </picture>
            <span>Подробнее</span>
            <div class="articles-sl__item-inner box_light">
              <p class="articles-sl__item-name">Бесплатная консультация врача по телефону</p>
              <p class="articles-sl__item-caption">23 октября 2025</p>
            </div>
          </a>
        </div>
        <div class="articles-sl__item swiper-slide">
          <a href="" class="articles-sl__item-link">
            <picture>
              <source srcset="/assets/img/photo/img1.webp" type="image/webp">
              <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
                src="/assets/img/photo/img1.jpg">
            </picture>
            <span>Подробнее</span>
            <div class="articles-sl__item-inner box_light">
              <p class="articles-sl__item-name">Бесплатная консультация врача по телефону</p>
              <p class="articles-sl__item-caption">23 октября 2025</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <a class="button button_accent articles-sl__link articles-sl__link_mobile">Все статьи</a>
  </div>
</div>
