<div class="doctors-sl slider-hl-3">
  <div class="doctors-sl__body container">
    <div class="doctors-sl__left">
      <div>
        <p class="doctors-sl__title section-title">Специалисты клиники</p>
        <a class="button button_accent doctors-sl__link">Все врачи</a>
      </div>
      <div class="doctors-sl__toolbar">
        <div>
          <p class="doctors-sl__count slider-hl-3__count"></p>
          <div class="doctors-sl__buttons">
            <button type="button"
              class="doctors-sl__button point-mark point-mark_light point-mark_arrow point-mark_56 swiper-button-prev"
              disabled=""></button>
            <button type="button"
              class="doctors-sl__button point-mark point-mark_light point-mark_arrow point-mark_arrow_right point-mark_56 swiper-button-next"
              disabled=""></button>
          </div>
        </div>
      </div>
    </div>
    <div class="doctors-sl__right slider-hl-3__swiper">
      <div class="swiper-wrapper doctors-sl__content">
        <a href="#" class="doctors__item swiper-slide">
          <span class="doctors__badge">Опыт 13 лет</span>
          <span class="doctors__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M0.75 10.75L10.75 0.75M10.75 0.75H3.25M10.75 0.75V8.25" stroke="#D9A28C" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <picture class="doctors__img">
            <source srcset="/assets/img/photo/ulybausaasa-zensina.webp" type="image/webp">
            <img src="/assets/img/photo/ulybausaasa-zensina.png" alt="doctors">
          </picture>
          <div class="doctors__myau">
            <p class="doctors__name">Константинопольский Константин Константинович</p>
            <p class="doctors__spec">Психиатр-нарколог</p>
          </div>
        </a>
        <a href="#" class="doctors__item swiper-slide">
          <span class="doctors__badge">Опыт 13 лет</span>
          <span class="doctors__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M0.75 10.75L10.75 0.75M10.75 0.75H3.25M10.75 0.75V8.25" stroke="#D9A28C" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <picture class="doctors__img">
            <source srcset="/assets/img/photo/ulybausaasa-zensina.webp" type="image/webp">
            <img src="/assets/img/photo/ulybausaasa-zensina.png" alt="doctors">
          </picture>
          <div class="doctors__myau">
            <p class="doctors__name">Константинопольский Константин Константинович</p>
            <p class="doctors__spec">Психиатр-нарколог</p>
          </div>
        </a>
        <a href="#" class="doctors__item swiper-slide">
          <span class="doctors__badge">Опыт 13 лет</span>
          <span class="doctors__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M0.75 10.75L10.75 0.75M10.75 0.75H3.25M10.75 0.75V8.25" stroke="#D9A28C" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <picture class="doctors__img">
            <source srcset="/assets/img/photo/ulybausaasa-zensina.webp" type="image/webp">
            <img src="/assets/img/photo/ulybausaasa-zensina.png" alt="doctors">
          </picture>
          <div class="doctors__myau">
            <p class="doctors__name">Константинопольский Константин Константинович</p>
            <p class="doctors__spec">Психиатр-нарколог</p>
          </div>
        </a>
        <a href="#" class="doctors__item swiper-slide">
          <span class="doctors__badge">Опыт 13 лет</span>
          <span class="doctors__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M0.75 10.75L10.75 0.75M10.75 0.75H3.25M10.75 0.75V8.25" stroke="#D9A28C" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <picture class="doctors__img">
            <source srcset="/assets/img/photo/ulybausaasa-zensina.webp" type="image/webp">
            <img src="/assets/img/photo/ulybausaasa-zensina.png" alt="doctors">
          </picture>
          <div class="doctors__myau">
            <p class="doctors__name">Константинопольский Константин Константинович</p>
            <p class="doctors__spec">Психиатр-нарколог</p>
          </div>
        </a>
        <a href="#" class="doctors__item swiper-slide">
          <span class="doctors__badge">Опыт 13 лет</span>
          <span class="doctors__arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M0.75 10.75L10.75 0.75M10.75 0.75H3.25M10.75 0.75V8.25" stroke="#D9A28C" stroke-width="1.5"
                stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
          <picture class="doctors__img">
            <source srcset="/assets/img/photo/ulybausaasa-zensina.webp" type="image/webp">
            <img src="/assets/img/photo/ulybausaasa-zensina.png" alt="doctors">
          </picture>
          <div class="doctors__myau">
            <p class="doctors__name">Константинопольский Константин Константинович</p>
            <p class="doctors__spec">Психиатр-нарколог</p>
          </div>
        </a>
      </div>
    </div>
    <a class="button button_accent doctors-sl__link doctors-sl__link_mobile">Все статьи</a>
  </div>
</div>
