<div class="faq">
  <p class="faq__title section-title">Ответы на часто задаваемые вопросы</p>
  <div class="faq__content ">
    <ul class="faq__list hide-items">
      <li class="faq__item hide-item">
        <div class="faq__item-title box_accent-op-50 hide-item__title">
          <p>Помощь при
            зависимостях и психических расстройствах — в удобном для
            вас формате</p>
          <div class="faq__btn point-mark point-mark_40 point-mark_accent">
          </div>
        </div>
        <div class="hide-item__height">
          <div class="hide-item__content box_peach">
            <div class="faq__item-content">
              <p>Во время сеансов психотерапии пациент обучается осознавать ситуации, которые могут спровоцировать
                патологическое влечение к алкоголю или наркотику и переучиваются новым стратегиям совладания.</p>
              <p>Мы работаем 24/7, принимаем пациентов по всей Москве и области — анонимно, без осуждения и
                бюрократии.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="faq__item hide-item">
        <div class="faq__item-title box_accent-op-50 hide-item__title">
          <p>Помощь при
            зависимостях и психических расстройствах — в удобном для
            вас формате</p>
          <div class="faq__btn point-mark point-mark_40 point-mark_accent">
          </div>
        </div>
        <div class="hide-item__height">
          <div class="hide-item__content box_peach">
            <div class="faq__item-content">
              <p>Во время сеансов психотерапии пациент обучается осознавать ситуации, которые могут спровоцировать
                патологическое влечение к алкоголю или наркотику и переучиваются новым стратегиям совладания.</p>
              <p>Мы работаем 24/7, принимаем пациентов по всей Москве и области — анонимно, без осуждения и
                бюрократии.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="faq__item hide-item">
        <div class="faq__item-title box_accent-op-50 hide-item__title">
          <p>Помощь при
            зависимостях и психических расстройствах — в удобном для
            вас формате</p>
          <div class="faq__btn point-mark point-mark_40 point-mark_accent">
          </div>
        </div>
        <div class="hide-item__height">
          <div class="hide-item__content box_peach">
            <div class="faq__item-content">
              <p>Во время сеансов психотерапии пациент обучается осознавать ситуации, которые могут спровоцировать
                патологическое влечение к алкоголю или наркотику и переучиваются новым стратегиям совладания.</p>
              <p>Мы работаем 24/7, принимаем пациентов по всей Москве и области — анонимно, без осуждения и
                бюрократии.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="faq__item hide-item">
        <div class="faq__item-title box_accent-op-50 hide-item__title">
          <p>Помощь при
            зависимостях и психических расстройствах — в удобном для
            вас формате</p>
          <div class="faq__btn point-mark point-mark_40 point-mark_accent">
          </div>
        </div>
        <div class="hide-item__height">
          <div class="hide-item__content box_peach">
            <div class="faq__item-content">
              <p>Во время сеансов психотерапии пациент обучается осознавать ситуации, которые могут спровоцировать
                патологическое влечение к алкоголю или наркотику и переучиваются новым стратегиям совладания.</p>
              <p>Мы работаем 24/7, принимаем пациентов по всей Москве и области — анонимно, без осуждения и
                бюрократии.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
