<div class="form-call">
  <div class="form-call__body container">
    <div class="form-call__content">
      <p class="section-title form-call__title">Вызовите врача-нарколога на дом — без промедления
        и лишних вопросов</p>
      <p class="form-call__caption">Оставьте номер телефона — мы свяжемся в течение 5 минут, уточним ситуацию и направим
        ближайшую бригаду. Всё пройдёт конфиденциально и по существу.
      </p>
      <form class="form">
        <input type="text" class="input" placeholder="Ваше имя" name="params[name][]" required="">
        <input type="tel" class="input" placeholder="Ваш номер телефона" name="params[phone][]" required="">
        <button type="submit" class="button button_accent popup__button">Заказать звонок</button>
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Отправляя заявку, вы соглашаетесь с <a href="#" rel="nofollow">политикой конфиденциальности</a></span>
        </label>
      </form>
    </div>
  </div>
</div>
