<header class="header">
  <div class="header__content container">
    <div class="header__row">
      <a href="/" class="header__logo logo">
        <picture class="logo__picture">
          <source srcset="./assets/img/logo/logo.webp" type="image/webp">
          <source srcset="./assets/img/logo/logo.svg" type="image/svg+xml">
          <img src="./assets/img/logo/logo.png" alt="Логотип">
        </picture>
        <div class="logo__title">
          <span>Алко-Медцентр</span>
          <span>Наркологическая клиника</span>
        </div>
      </a>
      <p class="header__caption">Круглосуточная и анонимная<br>помощь в лечении алкоголизма </p>
      <div class="header__address header__block">
        <div class="point-mark point-mark_40">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" fill="none" viewBox="0 0 14 18">
            <path fill="#D8A28B"
              d="M7 0C5.14 0 3.36.75 2.05 2.07a7.12 7.12 0 0 0-2.05 5C0 13.12 6.36 17.7 6.63 17.9a.66.66 0 0 0 .74 0c.27-.2 6.63-4.77 6.63-10.82 0-1.87-.74-3.67-2.05-5A6.97 6.97 0 0 0 7 0Zm0 4.5a2.53 2.53 0 0 1 2.35 1.59 2.6 2.6 0 0 1-.55 2.8 2.54 2.54 0 0 1-4.35-1.82c0-.68.27-1.33.75-1.82A2.53 2.53 0 0 1 7 4.5Z" />
          </svg>
        </div>
        <div class="header__block__container">
          <span class="header__description">Адрес:</span>
          <p><span class="header__address__title">Москва</span>, <span class="header__address__caption">Старогвардейская
              245</span></p>
        </div>
      </div>
      <div class="header__phone header__block">
        <div class="point-mark point-mark_40">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
            <path fill="#D8A28B"
              d="m15.22 10.74-3.75-1.6a1.25 1.25 0 0 0-1.21.1l-2.02 1.34a6.13 6.13 0 0 1-2.82-2.8l1.33-2.04a1.27 1.27 0 0 0 .12-1.2L5.26.77A1.3 1.3 0 0 0 3.92 0 4.5 4.5 0 0 0 0 4.46C0 10.82 5.18 16 11.54 16a4.5 4.5 0 0 0 4.45-3.92 1.3 1.3 0 0 0-.77-1.34Z" />
          </svg>
        </div>
        <div class="header__block__container">
          <span class="header__description">Номер телефона, 24/7:</span>
          <a class="header__phone__link" href="tel:88005553535">8 (800) 555-35-35</a>
        </div>
      </div>
      <div class="header__license header__block">
        <div class="point-mark point-mark_40">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="17" fill="none" viewBox="0 0 14 17">
            <path fill="#D9A28C"
              d="M13.82 4.76 9.36.2A.64.64 0 0 0 8.91 0H1.27C.94 0 .61.14.37.38.13.63 0 .96 0 1.31v14.38c0 .35.13.68.37.93.24.24.57.38.9.38h11.46c.33 0 .66-.14.9-.38.24-.25.37-.58.37-.93V5.23a.67.67 0 0 0-.18-.47Zm-4.27 7.66h-5.1a.63.63 0 0 1-.45-.19.66.66 0 0 1 0-.92c.12-.13.29-.2.45-.2h5.1a.66.66 0 0 1 .45 1.12.63.63 0 0 1-.45.2Zm0-2.61h-5.1A.63.63 0 0 1 4 9.6a.66.66 0 0 1 0-.92c.12-.12.29-.19.45-.19h5.1A.66.66 0 0 1 10 9.62a.63.63 0 0 1-.45.19ZM8.9 5.23v-3.6l3.5 3.6H8.9Z" />
          </svg>
        </div>
        <div class="header__block__container">
          <span class="header__description">Номер лицензии:</span>
          <p>Л041-01050-61/00347983</p>
        </div>
      </div>
      <button class="button button_accent header__button popup-btn" data-path="popup-call">Заказать звонок</button>
      <button class="menu_mobile menu_btn point-mark point-mark_40">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="header__row">
      <div class="header__search search_mobile search">
        <form action="" class="search__form">
          <input placeholder="Поиск по сайту" type="text" class="search__input">
        </form>
        <div class="search__content">
          <div class="search__hints">
            <ul>
              <li><a href="/faq.html">faq</a></li>
              <li><a href="#">Лечение алкоголизма </a></li>
              <li><a href="#">Лечение алкоголизма </a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Опиоидная детоксикация</a></li>
              <li><a href="#">Шишки шишки шишки</a></li>
              <li><a href="#">Шишки шишки шишки</a></li>
              <li><a href="#">Шишки шишки шишки</a></li>
            </ul>
          </div>
        </div>
      </div>
      <nav class="menu header__menu">
        <ul class="menu__list hide-items">
          <li class="menu__item hide-item">
            <button class="menu__item__button hide-item__title">
              <a href="#" class="menu__link menu__point">Услуги</a>
            </button>
            <div class="menu__subnav hide-item__height">
              <ul class="hide-item__content hide-items--2">
                <li class="menu__sublink hide-item--2">
                  <button class="menu__item__button hide-item__title--2">
                    <a href="#" class="menu__link">Лечение алкоголизма 1</a>
                  </button>
                  <div class="menu__subnav menu__subnav--lvl-2 hide-item__height--2">
                    <ul class="hide-item__content--2">
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Лечение алкоголизма
                          111</a></li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Лечение алкоголизма
                          222</a></li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Лечение алкоголизма
                          333</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu__sublink hide-item--2">
                  <button class="menu__item__button hide-item__title--2">
                    <a href="#" class="menu__link">Лечение алкоголизма 222</a>
                  </button>
                  <div class="menu__subnav menu__subnav--lvl-2 hide-item__height--2">
                    <ul class="hide-item__content--2">
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">fasfasfsaf 111</a>
                      </li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">sdfsdfsdfds222</a>
                      </li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">sdfdsf 333</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item hide-item">
            <button class="menu__item__button hide-item__title">
              <a href="#" class="menu__link">О клинике</a>
            </button>
            <div class="menu__subnav hide-item__height">
              <ul class="hide-item__content hide-items--2">
                <li class="menu__sublink hide-item--2">
                  <button class="menu__item__button hide-item__title--2">
                    <a href="#" class="menu__link">2</a>
                  </button>
                  <div class="menu__subnav menu__subnav--lvl-2 hide-item__height--2">
                    <ul class="hide-item__content--2">
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Фотогалерея</a></li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Пользовательское
                          соглашение</a></li>
                      <li class="menu__sublink menu__sublink--lvl-2"><a href="#" class="menu__link">Авито</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Цены</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Акции</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Специалисты</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Отзывы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Блог</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Лицензии</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__address_mobile header__block">
        <span class="header__description">Адрес:</span>
        <p><span class="header__address__title">Москва</span>, <span class="header__address__caption">Старогвардейская
            245</span></p>
      </div>
      <div class="header__phone_mobile header__block">
        <span class="header__description">Номер телефона, 24/7:</span>
        <a class="header__phone__link" href="tel:88005553535">8 (800) 555-35-35</a>
      </div>
      <div class="header__mail_mobile header__block">
        <span class="header__description">Электронная почта:</span>
        <a class="header__phone__link" href="mail:info@alko-medcentr.ru">info@alko-medcentr.ru</a>
      </div>
      <div class="header__toolbar">
        <button id="specialButton" class="point-mark point-mark_56 point-mark_trans">
          <svg role="img" xmlns="http://www.w3.org/2000/svg" width="26" height="18" fill="none" viewBox="0 0 26 18">
            <title>ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ</title>
            <path fill="#D9A28C"
              d="M25.93 8.64c-.04-.09-.96-2.2-3-4.33a13.58 13.58 0 0 0-19.87 0A15.86 15.86 0 0 0 .07 8.64a.92.92 0 0 0 0 .72c.04.09.96 2.2 3 4.33a13.58 13.58 0 0 0 19.87 0 15.86 15.86 0 0 0 2.99-4.33.92.92 0 0 0 0-.72ZM13 4.95c.77 0 1.53.24 2.17.68a4.02 4.02 0 0 1 1.43 1.82 4.2 4.2 0 0 1-.84 4.41 3.77 3.77 0 0 1-4.25.88 3.94 3.94 0 0 1-1.75-1.49 4.16 4.16 0 0 1 .48-5.11A3.83 3.83 0 0 1 13 4.95Z" />
          </svg>
        </button>
        <a href="#" class="point-mark point-mark_56">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" fill="none" viewBox="0 0 22 14">
            <path fill="#D9A28C"
              d="M11.98 14C4.47 14 .18 8.74 0 0h3.77c.12 6.42 2.9 9.14 5.1 9.7V0h3.54v5.54c2.17-.24 4.45-2.77 5.22-5.54h3.55a10.79 10.79 0 0 1-4.83 6.98A10.9 10.9 0 0 1 22 14h-3.9a6.94 6.94 0 0 0-2.1-3.38A6.73 6.73 0 0 0 12.4 9v5h-.42Z" />
          </svg>
        </a>
        <a href="#" class="point-mark point-mark_56">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" fill="none" viewBox="0 0 19 17">
            <path fill="#D9A28C"
              d="m19 .6-3 15.7s-.43 1.08-1.58.56l-6.94-5.5-.03-.02 8.52-7.94c.5-.48.19-.76-.38-.4L4.86 10.05.72 8.61S.07 8.37 0 7.85c-.06-.52.74-.8.74-.8L17.6.18S19-.44 19 .6Z" />
          </svg>
        </a>
        <div class="search__container search_desktop">
          <div class="header__search search">
            <form action="" class="search__form">
              <input placeholder="Поиск по сайту" type="text" class="search__input">
            </form>
            <div class="search__content">
              <div class="search__hints">
                <ul>
                  <li><a href="#">Лечение алкоголизма </a></li>
                  <li><a href="#">Лечение алкоголизма </a></li>
                  <li><a href="#">Лечение алкоголизма </a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Опиоидная детоксикация</a></li>
                  <li><a href="#">Шишки шишки шишки</a></li>
                  <li><a href="#">Шишки шишки шишки</a></li>
                  <li><a href="#">Шишки шишки шишки</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
