<div class="how-help">
  <div class="how-help__body container">
    <div class="how-help__left">
      <div>
        <p class="how-help__title section-title">Чем мы можем вам помочь?</p>
        <p class="how-help__caption">Мы оказываем всю необходимую наркологическую и психиатрическую помощь — анонимно,
          быстро и под вашу ситуацию</p>
      </div>

    </div>
    <div class="how-help__right">
      <div class="how-help__twister">
        <div class="how-help__twister-circle how-help__twister-circle--1"></div>
      </div>
      <div class="how-help__content">
        <div class="how-help__item"></div>
      </div>
    </div>
  </div>
</div>
