<section class="intro">
  <div class="intro__body container">
    <div class="intro__content">
      <h1 class="main-title intro__title">Круглосуточная наркологическая
        клиника <span>в Москве</span></h1>
      <p class="intro__caption">Мы помогаем людям преодолевать зависимости и возвращаться к стабильной жизни</p>
      <div class="intro__advantages">
        <div class="intro__advantage box_accent-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"
            fill="none" viewBox="0 0 14 16">
            <path fill="#D9A28C"
              d="M13.62 11.1 8.3 8l5.32-3.1a.66.66 0 0 0 .38-.67.67.67 0 0 0-.52-.57.66.66 0 0 0-.52.1L7.64 6.84V.67A.67.67 0 0 0 6.98 0a.66.66 0 0 0-.67.67v6.17L1 3.76a.66.66 0 0 0-.86.27.67.67 0 0 0 .2.88L5.65 8 .33 11.1a.67.67 0 0 0-.24.9.64.64 0 0 0 .57.33.6.6 0 0 0 .33-.09l5.32-3.08v6.17a.67.67 0 0 0 .67.67.66.66 0 0 0 .66-.67V9.16l5.32 3.08a.63.63 0 0 0 .9-.24.67.67 0 0 0-.24-.9Z" />
          </svg>
          <p>Лечение в стационаре — комфортные условия и круглосуточное медицинское наблюдение</p>
        </div>
        <div class="intro__advantage box_accent-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"
            fill="none" viewBox="0 0 14 16">
            <path fill="#D9A28C"
              d="M13.62 11.1 8.3 8l5.32-3.1a.66.66 0 0 0 .38-.67.67.67 0 0 0-.52-.57.66.66 0 0 0-.52.1L7.64 6.84V.67A.67.67 0 0 0 6.98 0a.66.66 0 0 0-.67.67v6.17L1 3.76a.66.66 0 0 0-.86.27.67.67 0 0 0 .2.88L5.65 8 .33 11.1a.67.67 0 0 0-.24.9.64.64 0 0 0 .57.33.6.6 0 0 0 .33-.09l5.32-3.08v6.17a.67.67 0 0 0 .67.67.66.66 0 0 0 .66-.67V9.16l5.32 3.08a.63.63 0 0 0 .9-.24.67.67 0 0 0-.24-.9Z" />
          </svg>
          <p>Конфиденциальный выезд врача-нарколога на дом в Гаграх — в любое время суток</p>
        </div>
        <div class="intro__advantage box_accent-light">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16"
            fill="none" viewBox="0 0 14 16">
            <path fill="#D9A28C"
              d="M13.62 11.1 8.3 8l5.32-3.1a.66.66 0 0 0 .38-.67.67.67 0 0 0-.52-.57.66.66 0 0 0-.52.1L7.64 6.84V.67A.67.67 0 0 0 6.98 0a.66.66 0 0 0-.67.67v6.17L1 3.76a.66.66 0 0 0-.86.27.67.67 0 0 0 .2.88L5.65 8 .33 11.1a.67.67 0 0 0-.24.9.64.64 0 0 0 .57.33.6.6 0 0 0 .33-.09l5.32-3.08v6.17a.67.67 0 0 0 .67.67.66.66 0 0 0 .66-.67V9.16l5.32 3.08a.63.63 0 0 0 .9-.24.67.67 0 0 0-.24-.9Z" />
          </svg>
          <p>Индивидуальный подход: программа подбирается с учётом диагноза, состояния и целей пациента</p>
        </div>
      </div>
      <p class="intro__description">Здесь вы получаете не просто терапию — а поддержку, основанную на клиническом опыте
        и уважении к личности</p>
      <div class="intro__buttons">
        <button class="button button_accent intro__button popup-btn" data-path="popup-call">Вызвать врача на дом</button>
        <div class="intro__price">
          Цена: <span>от 2 990 ₽</span>
        </div>
      </div>
    </div>
  </div>
</section>
