<section class="text-section main__text">
  <div class="text-section__content container">
    <h2 class="section-title text-section__title">Помощь при зависимостях и психических расстройствах — в удобном для
      вас формате</h2>
    <p>Алкоголь, наркотики, лекарственные средства, поведенческие зависимости, тревога, панические атаки, депрессия,
      психозы — всё это требует профессионального подхода, а не «перетерпеть» или «взять себя в руки».</p>
    <p>«Алко-Медцентр» — многопрофильная клиника в Москве, где помощь оказывается в трёх форматах, в зависимости от
      состояния и ваших предпочтений:</p>
    <ul>
      <li>На дому — экстренная стабилизация, детоксикация, снятие острого кризиса
      </li>
      <li>В стационаре — круглосуточное наблюдение, комплексное лечение, реабилитация</li>
      <li>Амбулаторно — консультации, поддерживающая терапия, кодирование, психотерапия</li>
    </ul>
    <p>Мы работаем 24/7, принимаем пациентов по всей Москве и области — анонимно, без осуждения и бюрократии.</p>

    <div class="plashka-call">
      <p>Если вы чувствуете, что ситуация вышла из-под контроля — позвоните по номеру телефона и первый шаг к решению
        уже сделан</p>
      <div class="plashka-call__right">
        <p>Получите консультацию и подберите формат помощи:</p>
        <a class="button button_light button_icon plashka-call__button" href="tel:88005553535">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
            <path fill="#D9A28C"
              d="m15.22 10.74-3.75-1.6a1.25 1.25 0 0 0-1.21.1l-2.02 1.34a6.13 6.13 0 0 1-2.82-2.8l1.33-2.04a1.27 1.27 0 0 0 .12-1.2L5.26.77A1.3 1.3 0 0 0 3.92 0 4.5 4.5 0 0 0 0 4.46C0 10.82 5.18 16 11.54 16a4.5 4.5 0 0 0 4.45-3.92 1.3 1.3 0 0 0-.77-1.34Z">
            </path>
          </svg>
          <span>Получите консультацию и подберите формат помощи</span><span>8 (800) 555-35-35</span></a>
      </div>
    </div>

    <div class="why-choose">
      <p class="why-choose__title">Почему выбирают нас:</p>
      <div class="why-choose__content">
        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Три формата помощи</p>
          <div class="why-choose__item-text">Подберём оптимальный вариант: от выезда врача за 30 минут
            до стационарного лечения в комфортных условиях</div>
        </div>
        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Полная анонимность</p>
          <div class="why-choose__item-text">Не требуем паспорт, не передаём данные в диспансеры, не оформляем
            официальные обращения. Всё остаётся между вами и клиникой</div>
        </div>

        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Команда специалистов</p>
          <div class="why-choose__item-text">Врачи-наркологи, психиатры, психологи и реабилитологи с многолетним опытом.
            Работаем с алкоголем, наркотиками, лекарственной зависимостью, тревожными и психотическими расстройствами
          </div>
        </div>

        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Индивидуальные программы</p>
          <div class="why-choose__item-text">Нет универсальных схем. Лечение строится под ваш диагноз, возраст,
            сопутствующие состояния и цели</div>
        </div>

        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Сертифицированные методы</p>
          <div class="why-choose__item-text">Используем только препараты и протоколы, одобренные Минзравом РФ. Без
            экспериментов</div>
        </div>

        <div class="why-choose__item box_accent-light">
          <p class="why-choose__item-title">Прозрачные цены</p>
          <div class="why-choose__item-text">Чёткий прайс без скрытых платежей. Окончательная стоимость согласовывается
            до начала лечения</div>
        </div>
      </div>
    </div>

    <div class="our-services">
      <p class="our-services__title">Наши услуги:</p>
      <div class="our-services__content">
        <div class="our-services__item box_accent">
          <p class="our-services__item-title">Экстренная помощь на дому</p>
          <div class="our-services__item-text">Детоксикация, снятие ломки, купирование абстиненции, стабилизация при
            психомоторном возбуждении</div>
        </div>

        <div class="our-services__item box_accent">
          <p class="our-services__item-title">Стационарное лечение</p>
          <div class="our-services__item-text">24/7 наблюдение, медикаментозная терапия, восстановление после
            интоксикаций, подготовка к ремиссии</div>
        </div>

        <div class="our-services__item box_accent">
          <p class="our-services__item-title">Амбулаторный приём</p>
          <div class="our-services__item-text">Консультации нарколога и психиатра, кодирование, поддерживающая терапия,
            работа с мотивацией</div>
        </div>

        <div class="our-services__item box_accent">
          <p class="our-services__item-title">Психологическая и психотерапевтическая поддержка</p>
          <div class="our-services__item-text">При тревоге, депрессии, ПТСР, поведенческих зависимостях</div>
        </div>
      </div>
    </div>

    <p>Алкоголь, наркотики, лекарственные средства, поведенческие зависимости, тревога, панические атаки, депрессия,
      психозы — всё это требует профессионального подхода, а не «перетерпеть» или «взять себя в руки». Нет универсальных
      схем. Лечение строится под ваш диагноз, возраст, сопутствующие состояния и цели.</p>
    <p>«Алко-Медцентр» — многопрофильная клиника в Москве, где помощь оказывается в трёх форматах, в зависимости от
      состояния и ваших предпочтений:</p>
    <ol>
      <li>На дому — экстренная стабилизация, детоксикация, снятие острого кризиса
      </li>
      <li>В стационаре — круглосуточное наблюдение, комплексное лечение, реабилитация</li>
      <li>Амбулаторно — консультации, поддерживающая терапия, кодирование, психотерапия</li>
    </ol>

    <blockquote>
      <p>Мы не ставим ярлыков. Мы помогаем — медицински грамотно, этично и с уважением к личности. </p>
    </blockquote>
  </div>
</section>
