<div class="gallery-sl gallery-sl-main">
  <div class="gallery-sl__body container">
    <div class="gallery-sl__left">
      <div>
        <p class="gallery-sl__title section-title">Фотогалерея клиники</p>
        <a class="button button_accent gallery-sl__link">Все фотографии</a>
      </div>
      <div class="gallery-sl__toolbar">
        <div>
          <p class="gallery-sl__count slider-hl-3__count"></p>
          <div class="gallery-sl__buttons">
            <button type="button"
              class="gallery-sl__button point-mark point-mark_light point-mark_arrow point-mark_56 swiper-button-prev"
              disabled=""></button>
            <button type="button"
              class="gallery-sl__button point-mark point-mark_light point-mark_arrow point-mark_arrow_right point-mark_56 swiper-button-next"
              disabled=""></button>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery-sl__inner">
      <div class="gallery-sl__swiper">
        <div class="gallery-sl__content swiper-wrapper">
          <div class="gallery-sl__item swiper-slide">
            <a data-fancybox="gallery" class="gallery-sl__item-link" href="/assets/img/photo/kap.webp">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </a>
          </div>
          <div class="gallery-sl__item swiper-slide">
            <a data-fancybox="gallery" class="gallery-sl__item-link" href="/assets/img/photo/kap.webp">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </a>
          </div>
          <div class="gallery-sl__item swiper-slide">
            <a data-fancybox="gallery" class="gallery-sl__item-link" href="/assets/img/photo/kap.webp">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </a>
          </div>
          <div class="gallery-sl__item swiper-slide">
            <a data-fancybox="gallery" class="gallery-sl__item-link" href="/assets/img/photo/kap.webp">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </a>
          </div>
        </div>
      </div>
      <div class="gallery-sl__thumbs">
        <div class="gallery-sl__thumbs-swiper">
          <div class="gallery-sl__thumbs-wrapper swiper-wrapper">
            <div class="gallery-sl__thumb-item swiper-slide">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </div>
            <div class="gallery-sl__thumb-item swiper-slide">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </div>
            <div class="gallery-sl__thumb-item swiper-slide">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </div>
            <div class="gallery-sl__thumb-item swiper-slide">
              <picture>
                <source srcset="/assets/img/photo/kap.webp" type="image/webp">
                <img alt="kap" title="kap" loading="lazy" src="/assets/img/photo/kap.png">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="button button_accent gallery-sl__link gallery-sl__link_mobile">Все фотографии</a>
  </div>
</div>
