<div class="stocks-mini slider-hl-1">
  <p class="stocks-mini__title">Акции клиники</p>
  <div class="stocks__swiper slider-hl-1__swiper">
    <div class="swiper-wrapper stocks__content">
      <div class="stocks-mini__item swiper-slide">
        <a href="" class="stocks-mini__item-link">
          <picture>
            <source srcset="/assets/img/photo/img1.webp" type="image/webp">
            <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
              src="/assets/img/photo/img1.jpg">
          </picture>
          <span>Подробнее</span>
          <div class="stocks-mini__item-inner box_light">
            <p class="stocks-mini__item-name">Бесплатная консультация врача по телефону</p>
            <p class="stocks-mini__item-caption">Срок действия: Бессрочно </p>
          </div>
        </a>
      </div>
      <div class="stocks-mini__item swiper-slide">
        <a href="" class="stocks-mini__item-link">
          <picture>
            <source srcset="/assets/img/photo/img1.webp" type="image/webp">
            <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
              src="/assets/img/photo/img1.jpg">
          </picture>
          <span>Подробнее</span>
          <div class="stocks-mini__item-inner box_light">
            <p class="stocks-mini__item-name">Бесплатная консультация врача по телефону</p>
            <p class="stocks-mini__item-caption">Срок действия: Бессрочно </p>
          </div>
        </a>
      </div>
      <div class="stocks-mini__item swiper-slide">
        <a href="" class="stocks-mini__item-link">
          <picture>
            <source srcset="/assets/img/photo/molodaa-krasivaa-zensina.webp" type="image/webp">
            <img alt="Палата наркологической клиники" title="Алко-Медцентр" loading="lazy"
              src="/assets/img/photo/molodaa-krasivaa-zensina.png">
          </picture>
          <span>Подробнее</span>
          <div class="stocks-mini__item-inner box_light">
            <p class="stocks-mini__item-name">Бесплатная консультация врача по телефону</p>
            <p class="stocks-mini__item-caption">Срок действия: Бессрочно </p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="stocks-mini__toolbar">
    <p class="stocks-mini__count slider-hl-1__count"></p>
    <div class="stocks-mini__buttons">
      <button type="button"
        class="stocks-mini__button point-mark point-mark_grey point-mark_arrow point-mark_56 swiper-button-prev"
        disabled=""></button>
      <button type="button"
        class="stocks-mini__button point-mark point-mark_grey point-mark_arrow point-mark_arrow_right point-mark_56 swiper-button-next"
        disabled=""></button>
    </div>
  </div>
</div>
