<div class="narkolog-test">
  <div class="narkolog-test__body container">
    <div class="narkolog-test__left">
      <div>
        <p class="section-title narkolog-test__title">Нужна ли вам помощь нарколога?</p>
        <p class="narkolog-test__caption">Пройдите короткий тест — всего 3 вопроса</p>
      </div>
      <div class="narkolog-test__price box_light_b">
        <p class="narkolog-test__price-title">Стоимость лечения зависимостей в Москве:</p>
        <p class="narkolog-test__value">от 2 990 ₽</p>
      </div>
    </div>
    <div class="narkolog-test__right narkolog-test__content">
      <div class="narkolog-test__form box_accent-light">
        <p class="narkolog-test__form-title">Удаётся ли вам обходиться без алкоголя или других веществ хотя бы несколько
          дней подряд?</p>
        <fieldset class="narkolog-test__fieldset">
          <div class="input__radio">
            <input type="radio" name="abstinence" id="abstinenceChoice1" value="Да, без проблем" required>
            <label for="abstinenceChoice1">Да, без проблем</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="abstinence" id="abstinenceChoice2" value="С трудом, но получается" required>
            <label for="abstinenceChoice2">С трудом, но получается</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="abstinence" id="abstinenceChoice3"
              value="Нет, возникает сильное желание или физический дискомфорт" required>
            <label for="abstinenceChoice3">Нет, возникает сильное желание или физический дискомфорт</label>
          </div>
        </fieldset>
      </div>
      <div class="narkolog-test__form box_accent-light">
        <p class="narkolog-test__form-title">Пытаетесь ли вы скрыть объём или частоту употребления от близких?</p>
        <fieldset class="narkolog-test__fieldset">
          <div class="input__radio">
            <input type="radio" name="hiding" id="hidingChoice1" value="Нет" required>
            <label for="hidingChoice1">Нет</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="hiding" id="hidingChoice2" value="Иногда" required>
            <label for="hidingChoice2">Иногда</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="hiding" id="hidingChoice3" value="Почти всегда" required>
            <label for="hidingChoice3">Почти всегда</label>
          </div>
        </fieldset>
      </div>
      <div class="narkolog-test__form box_accent-light">
        <p class="narkolog-test__form-title">Замечали ли вы, что здоровье, работа или отношения ухудшились из-за
          употребления?</p>
        <fieldset class="narkolog-test__fieldset">
          <div class="input__radio">
            <input type="radio" name="consequences" id="consequencesChoice1" value="Нет" required>
            <label for="consequencesChoice1">Нет</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="consequences" id="consequencesChoice2" value="Есть отдельные эпизоды" required>
            <label for="consequencesChoice2">Есть отдельные эпизоды</label>
          </div>
          <div class="input__radio">
            <input type="radio" name="consequences" id="consequencesChoice3" value="Да, и это вызывает беспокойство"
              required>
            <label for="consequencesChoice3">Да, и это вызывает беспокойство</label>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="narkolog-test__result box_accent-light">
      <div class="narkolog-test__result-content">
        <p class="narkolog-test__result-title">Результат:</p>
        <p class="narkolog-test__result-caption">Если вы выбрали хотя бы один ответ из последнего варианта — помощь
          специалиста действительно может быть полезной</p>
        <div class="narkolog-test__result-block box_light">
          <p>Нарколог не осуждает и не давит. Он поможет разобраться, есть ли зависимость, и что с этим делать дальше —
            даже если вы просто хотите поговорить</p>
          <p>Готовы обсудить ситуацию? Звонок анонимный. Врач клиники ответит прямо сейчас:</p>
          <a class="button button_accent button_icon narkolog-test__button" href="tel:88005553535">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
              <path fill="#FFF"
                d="m15.22 10.74-3.75-1.6a1.25 1.25 0 0 0-1.21.1l-2.02 1.34a6.13 6.13 0 0 1-2.82-2.8l1.33-2.04a1.27 1.27 0 0 0 .12-1.2L5.26.77A1.3 1.3 0 0 0 3.92 0 4.5 4.5 0 0 0 0 4.46C0 10.82 5.18 16 11.54 16a4.5 4.5 0 0 0 4.45-3.92 1.3 1.3 0 0 0-.77-1.34Z" />
            </svg>
            <span>8 (800) 555-35-35</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
