<section class="our-block">
  <div class="our-block__body container">
    <h2 class="our-block__title section-title">О нас — в цифрах</h2>
    <div class="our-block__content">
      <input type="radio" name="our-block-img" id="img1" checked hidden>
      <input type="radio" name="our-block-img" id="img2" hidden>
      <input type="radio" name="our-block-img" id="img3" hidden>
      <input type="radio" name="our-block-img" id="img4" hidden>
      <div class="our-block-item _one">
        <label for="img1" class="our-block-item__trigger">
          <span>8+</span>
          <p>Работаем в Москве с 2017 года, помогая людям с зависимостями и психическими расстройствами</p>
        </label>
      </div>
      <div class="our-block-item _two">
        <label for="img2" class="our-block-item__trigger">
          <span>3 000+</span>
          <p>Ежегодно мы сопровождаем более трёх тысяч человек — на дому, в стационаре и амбулаторно</p>
        </label>
      </div>
      <div class="our-block-item _three">
        <label for="img3" class="our-block-item__trigger">
          <span>25 000+</span>
          <p>За всё время работы клиника «Алко-Медцентр» оказала помощь более чем 25 тысячам пациентов</p>
        </label>
      </div>
      <div class="our-block-item _four">
        <label for="img4" class="our-block-item__trigger">
          <span>20+</span>
          <p>В нашей команде — врачи-наркологи и психиатры с опытом от 10 до 30 лет, выпускники ведущих
            медицинских вузов страны, включая Первый МГМУ им. Сеченова</p>
        </label>
      </div>
      <div class="our-block-imgs">
        <picture class="our-block-img img1">
          <source srcset="assets/img/photo/img1.webp" type="image/webp">
          <img src="assets/img/photo/img1.png" alt="cat">
        </picture>
        <picture class="our-block-img img2">
          <source srcset="assets/img/photo/kap.webp" type="image/webp">
          <img src="assets/img/photo/kap.png" alt="cat">
        </picture>
        <picture class="our-block-img img3">
          <source srcset="assets/img/photo/img1.webp" type="image/webp">
          <img src="assets/img/photo/img3.png" alt="cat">
        </picture>
        <picture class="our-block-img img4">
          <source srcset="assets/img/photo/kap.webp" type="image/webp">
          <img src="assets/img/photo/kap.png" alt="cat">
        </picture>
      </div>
    </div>
  </div>
</section>
