<section class="our-block">
    <div class="our-block__body container">
        <h2 class="our-block__title section-title">О нас — в цифрах</h2>
        <div class="our-block__content">
            <div class="our-block-item _one">
                <span>8+</span>
                <p>Работаем в Москве с 2017 года, помогая людям с зависимостями и психическими расстройствами</p>
            </div>
            <div class="our-block-item _two">
                <span>3 000+</span>
                <p>Ежегодно мы сопровождаем более трёх тысяч человек — на дому, в стационаре и амбулаторно</p>
            </div>
            <div class="our-block-item _three">
                <span>25 000+</span>
                <p>За всё время работы клиника «Алко-Медцентр» оказала помощь более чем 25 тысячам пациентов</p>
            </div>
            <div class="our-block-item _four">
                <span>20+</span>
                <p>В нашей команде — врачи-наркологи и психиатры с опытом от 10 до 30 лет, выпускники ведущих
                    медицинских вузов страны, включая Первый МГМУ им. Сеченова</p>
            </div>
            <picture class="our-block-img">
                <source srcset="assets/img/photo/img1.webp" type="image/webp">
                <img src="assets/img/photo/img1.png" alt="apulaz">
            </picture>
        </div>
    </div>
</section>
