<button id="toTop" class="btn_top active">
  <div>
  </div>
</button>

<div class="popup calculator" data-target="popup-calculator">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup point-mark point-mark_56"></button>
      <div>
        <p class="popup__title">
          Рассчитайте стоимость лечения за минуту
        </p>
        <p class="popup__subtitle">
          Наш калькулятор поможет вам быстро сориентироваться в ценах —
          без звонков и обязательств. Просто выберите параметры, актуальные для вашего случая, и получите
          приблизительную
          стоимость услуги.
        </p>
      </div>
      <div class="calculator__wrapper">
        <div class="calculator__content">
          <div class="calculator__page active box_accent-light">
            <p class="calculator__page-title">Пол пациента</p>
            <p class="calculator__page-caption">(некоторые программы учитывают физиологические особенности)</p>
            <fieldset class="calculator__inputs-container">
              <div class="input__button">
                <input type="radio" name="sex" id="sexChoice1" value="Мужчина" required>
                <label for="sexChoice1">Мужчина</label>
              </div>
              <div class="input__button">
                <input type="radio" name="sex" id="sexChoice2" value="Женщина" required>
                <label for="sexChoice2">Женщина</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Возраст пациента</p>
            <p class="calculator__page-caption">(влияет на дозировки препаратов и интенсивность терапии)</p>
            <fieldset class="calculator__range-container">
              <div class="input__range age">
                <span>14 лет</span>
                <input type="range" value="50" min="14" max="69" step="1" name="age" id="age" required>
                <output id="valueAge">50</output>
                <span>69 лет</span>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Тип вещества</p>
            <p class="calculator__page-caption">(определяет методы детоксикации и снятия ломки)</p>
            <fieldset class="calculator__inputs-container">
              <div class="input__button">
                <input type="radio" name="type" id="typeChoice1" value="Алкоголь" required>
                <label for="typeChoice1">Алкоголь</label>
              </div>
              <div class="input__button">
                <input type="radio" name="type" id="typeChoice2" value="Наркотики" required>
                <label for="typeChoice2">Наркотики</label>
              </div>
              <div class="input__button">
                <input type="radio" name="type" id="typeChoice3" value="Сочетание алкоголя и наркотиков" required>
                <label for="typeChoice3">Сочетание алкоголя и наркотиков</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Стаж употребления</p>
            <p class="calculator__page-caption">(чем дольше зависимость, тем сложнее и длительнее восстановление)</p>
            <fieldset class="calculator__range-container">
              <div class="input__range exp">
                <span>1 год</span>
                <input type="range" value="8" min="1" max="11" step="1" name="exp" id="exp" required>
                <output id="valueExp">8</output>
                <span>11+ лет</span>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Согласие на лечение</p>
            <p class="calculator__page-caption">(если пациент сопротивляется — может потребоваться мотивационная беседа)
            </p>
            <fieldset class="calculator__inputs-container">
              <div class="input__button">
                <input type="radio" name="agree" id="agreeChoice1" value="Да" required>
                <label for="agreeChoice1">Да</label>
              </div>
              <div class="input__button">
                <input type="radio" name="agree" id="agreeChoice2" value="Нет" required>
                <label for="agreeChoice2">Нет</label>
              </div>
              <div class="input__button">
                <input type="radio" name="agree" id="agreeChoice3" value="Колеблется или не уверен(а)" required>
                <label for="agreeChoice3">Колеблется или не уверен(а)</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Ранее проходили лечение?</p>
            <fieldset class="calculator__inputs-container_cl">
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice1" value="Нет, обращаюсь впервые" required>
                <label for="previousChoice1">Нет, обращаюсь впервые</label>
              </div>
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice2"
                  value="Да, проходил(а) детоксикацию или вывод из запоя" required>
                <label for="previousChoice2">Да, проходил(а) детоксикацию или вывод из запоя</label>
              </div>
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice3" value="Да, был(а) закодирован(а)" required>
                <label for="previousChoice3">Да, был(а) закодирован(а)</label>
              </div>
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice4" value="Да, проходил(а) курс в стационаре"
                  required>
                <label for="previousChoice4">Да, проходил(а) курс в стационаре</label>
              </div>
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice5"
                  value="Да, участвовал(а) в реабилитационной программе" required>
                <label for="previousChoice5">Да, участвовал(а) в реабилитационной программе</label>
              </div>
              <div class="input__radio">
                <input type="radio" name="previous" id="previousChoice6"
                  value="Да, проходил(а) амбулаторное лечение или психотерапию" required>
                <label for="previousChoice6">Да, проходил(а) амбулаторное лечение или психотерапию</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Сопутствующие заболевания</p>
            <p class="calculator__page-caption">(влияет на выбор препаратов и контроль состояния)</p>
            <fieldset class="calculator__inputs-container">
              <div class="input__button">
                <input type="radio" name="illness" id="illnessChoice1" value="Нет" required>
                <label for="illnessChoice1">Нет</label>
              </div>
              <div class="input__button">
                <input type="radio" name="illness" id="illnessChoice2" value="Есть" required>
                <label for="illnessChoice2">Есть</label>
              </div>
              <div class="input__button">
                <input type="radio" name="illness" id="illnessChoice3" value="Неизвестно" required>
                <label for="illnessChoice3">Неизвестно</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light">
            <p class="calculator__page-title">Занятость</p>
            <p class="calculator__page-caption">(учитывается при планировании амбулаторного режима)</p>
            <fieldset class="calculator__inputs-container">
              <div class="input__button">
                <input type="radio" name="work" id="workChoice1" value="Работает" required>
                <label for="workChoice1">Работает</label>
              </div>
              <div class="input__button">
                <input type="radio" name="work" id="workChoice2" value="Учится" required>
                <label for="workChoice2">Учится</label>
              </div>
              <div class="input__button">
                <input type="radio" name="work" id="workChoice3" value="Не занят" required>
                <label for="workChoice3">Не занят</label>
              </div>
            </fieldset>
          </div>
          <div class="calculator__page box_accent-light calculator__page-result">
            <div class="calculator__page-result__content">
              <p class="calculator__page-title">2 990 ₽</p>
              <p class="calculator__page-caption">Это предварительная оценка. Окончательная стоимость определяется
                врачом после бесплатной консультации — с учётом всех нюансов состояния и ваших целей.</p>
              <button class="button button_accent popup-btn" data-path="popup-call">Рассчитать стоимость</button>
            </div>
          </div>
        </div>
        <div class="calculator__toolbar">
          <p class="calculator__count"><span class="page-number">01</span> / <span>08</span></p>
          <div class="calculator__buttons">
            <button type="button"
              class="calculator__button point-mark point-mark_grey point-mark_arrow point-mark_56"></button>
            <button type="button"
              class="calculator__button point-mark point-mark_grey point-mark_arrow point-mark_arrow_right point-mark_56"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup" data-target="popup-call">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup point-mark point-mark_56"></button>
      <div>
        <p class="popup__title">
          Вызовите врача-нарколога на дом — без промедления и лишних вопросов
        </p>
        <p class="popup__subtitle">
          Оставьте номер телефона — мы свяжемся в течение 5 минут, уточним ситуацию и направим ближайшую бригаду. Всё
          пройдёт конфиденциально
          и по существу.
        </p>
      </div>
      <form class="popup__form form">
        <input type="text" class="input" placeholder="Ваше имя" name="params[name][]" required>
        <input type="tel" class="input" placeholder="Ваш номер телефона" name="params[phone][]" required>
        <button type="submit" class="button button_accent popup__button">Заказать звонок</button>
        <label class="checkbox">
          <input type="checkbox" checked="checked" required="">
          <span class="checkbox-mark"></span>
          <span>Отправляя заявку, вы соглашаетесь с <a href="#" rel="nofollow">политикой конфиденциальности</a></span>
        </label>
      </form>
    </div>
  </div>
</div>

<!-- <div class="popup popup_test" data-target="popup-test">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup"></button>

      <p class="popup__title main-title">
        <span>Экспресс-тест </span>на алкогольную зависимость
      </p>
      <forms class="popup__form">
        <div class="pagination__list">
          <span class="pagination__point active"></span>
          <span class="pagination__point"></span>
          <span class="pagination__point"></span>
          <span class="pagination__point"></span>
          <span class="pagination__point"></span>
        </div>
        <p class="popup__chose-text">Как часто вы употребляете алкоголь?</p>
        <label class="check-input">
          <input type="checkbox" name="how-often">
          <p>Раз в месяц или реже</p>
          <span class="check-mark point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M10 20c-4.72 0-7.08 0-8.54-1.47C0 17.07 0 14.71 0 10c0-4.72 0-7.08 1.46-8.54C2.92 0 5.28 0 10 0c4.71 0 7.07 0 8.53 1.46C20 2.92 20 5.28 20 10c0 4.71 0 7.07-1.47 8.53C17.07 20 14.71 20 10 20Zm4.03-13.04c.29.3.29.77 0 1.07l-5 5a.77.77 0 0 1-1.07 0l-2-2a.77.77 0 0 1 0-1.07.77.77 0 0 1 1.07 0l1.47 1.47 4.46-4.47a.77.77 0 0 1 1.07 0Z" />
            </svg>
          </span>
        </label>
        <label class="check-input">
          <input type="checkbox" name="how-often">
          <p>2-4 раза в месяц</p>
          <span class="check-mark point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M10 20c-4.72 0-7.08 0-8.54-1.47C0 17.07 0 14.71 0 10c0-4.72 0-7.08 1.46-8.54C2.92 0 5.28 0 10 0c4.71 0 7.07 0 8.53 1.46C20 2.92 20 5.28 20 10c0 4.71 0 7.07-1.47 8.53C17.07 20 14.71 20 10 20Zm4.03-13.04c.29.3.29.77 0 1.07l-5 5a.77.77 0 0 1-1.07 0l-2-2a.77.77 0 0 1 0-1.07.77.77 0 0 1 1.07 0l1.47 1.47 4.46-4.47a.77.77 0 0 1 1.07 0Z" />
            </svg>
          </span>
        </label>
        <label class="check-input">
          <input type="checkbox" name="how-often">
          <p>2-3 раза в неделю</p>
          <span class="check-mark point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M10 20c-4.72 0-7.08 0-8.54-1.47C0 17.07 0 14.71 0 10c0-4.72 0-7.08 1.46-8.54C2.92 0 5.28 0 10 0c4.71 0 7.07 0 8.53 1.46C20 2.92 20 5.28 20 10c0 4.71 0 7.07-1.47 8.53C17.07 20 14.71 20 10 20Zm4.03-13.04c.29.3.29.77 0 1.07l-5 5a.77.77 0 0 1-1.07 0l-2-2a.77.77 0 0 1 0-1.07.77.77 0 0 1 1.07 0l1.47 1.47 4.46-4.47a.77.77 0 0 1 1.07 0Z" />
            </svg>
          </span>
        </label>
        <label class="check-input">
          <input type="checkbox" name="how-often">
          <p>4 и более раз в неделю</p>
          <span class="check-mark point-mark">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="#4995EC" fill-rule="evenodd"
                d="M10 20c-4.72 0-7.08 0-8.54-1.47C0 17.07 0 14.71 0 10c0-4.72 0-7.08 1.46-8.54C2.92 0 5.28 0 10 0c4.71 0 7.07 0 8.53 1.46C20 2.92 20 5.28 20 10c0 4.71 0 7.07-1.47 8.53C17.07 20 14.71 20 10 20Zm4.03-13.04c.29.3.29.77 0 1.07l-5 5a.77.77 0 0 1-1.07 0l-2-2a.77.77 0 0 1 0-1.07.77.77 0 0 1 1.07 0l1.47 1.47 4.46-4.47a.77.77 0 0 1 1.07 0Z" />
            </svg>
          </span>
        </label>
      </forms>
      <button class="btn btn_consult popup__button popup-btn btn_accent">
        <span>следующий вопрос</span>
        <div class="point-mark point-arrow"></div>
      </button>
    </div>
  </div>
</div> -->

<!-- <div class="popup popup_test-result" data-target="popup-test-result">
  <div class="popup__body">
    <div class="popup__content">
      <button class="close-popup"></button>

      <div>
        <p class="popup__title main-title">
          Признаков алкогольной <span>зависимости нет</span>
        </p>
        <p class="popup__subtitle">
          Ваши ответы указывают на то, что вы контролируете употребление алкоголя и не демонстрируете признаков
          зависимости. Вы осознанно подходите к выбору ситуаций, в которых употребляете спиртное, и не испытываете тяги
          к
          нему в повседневной жизни.
        </p>
      </div>

      <div>
        <span class="popup__separation"></span>
        <p class="popup__caption">Оставьте заявку для записи на бесплатную консультацию</p>
        <forms class="popup__form">
          <input type="tel" class="input" name="params[phone][]" placeholder="+7(999) 999-99-99" required="">
          <button type="submit" class="btn btn_consult popup__button popup-btn btn_accent">
            <span>записаться</span>
            <div class="point-mark"><span></span><span></span></div>
          </button>
        </forms>
      </div>
    </div>
  </div>
</div> -->
